.header-background-pattern {
  background-image: url("../../../assets/media/pattern-main.png");
  background-repeat: no-repeat;
  background-size: 200%;
  background-position: -500px -195px;

  border-radius: 12px;
}

.header-content {
  padding: 16px 8px;
  backdrop-filter: brightness(0.5);
  -ms-backdrop-filter: brightness(0.5);
  -webkit-backdrop-filter: brightness(0.5);
  -moz-backdrop-filter: brightness(0.5);
}

.header-navbar {
  display: flex;
  justify-content: space-between;
}

.header-title {
  color: white;
  font-size: 36px;
  cursor: default;
}

.header-description {
  color: white;

  display: grid;
  grid-template-columns: 1fr 1fr;

  cursor: default;
}

.header-description > h5 {
  grid-column: 2 / 3;
}

@media screen and (max-width: 500px) {
  .header-background-pattern {
    background-image: url("../../../assets/media/pattern-main.png");
    background-repeat: no-repeat;
    background-size: 200%;
    background-position: -300px 0px;
  
    border-radius: 12px;
  }


  .header-title {
    font-size: 22px;
  }
}
  