.default-button {
  background-color: none;
  border: none;
  border-radius: 6px;
  color: #333;
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  padding: 4px 16px;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
}