.teacher-block {
  display: grid;
  grid-template-columns: 1fr 2fr;

  height: 450px;
}


.teacher-avatar {
  height: 450px;
  width: 450px;

  background-image: url("../../../assets/media/pattern-main.png");
  background-position: center;
}

.teacher-avatar > div {
  backdrop-filter: brightness(0.5);

  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
}

.teacher-avatar  img {
  height: 450px;
}

.teacher-description,
.teacher-description > div {
  height: 100%;
}

.teacher-description-title {
  display: flex;
  justify-content: space-between;
}

.teacher-description-content {
  font-size: 20px;
}

.teacher-description-content ul {
  padding-left: 16px;
}

.teacher-description-content  li {
  margin-bottom: 8px;
}

.teacher-description-wrapper {
  padding: 0px 24px;
}

.teacher-description-label {
  display: flex;
  align-items: center;
  justify-content: center;
}

.teacher-description-label > span {
  background-color: #2BCB44;
  padding: 6px 24px;
  color: white;
}